.code,
.inlineCode,
.highlightCode {
  border-radius: 5px;
  background: #282c34;
}

.code,
.highlightCode {
  --size: 16px;
  padding: 10px;
  margin: 0 5px;
  font-size: var(--size);
  overflow-x: hidden;
}

.code:hover,
.highlightCode:hover {
  overflow-x: scroll;
}

.code span,
.highlightCode span {
  white-space: preserve nowrap;
}

.code {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  white-space: pre-line;
}

.highlightWrapper {
  display: flex;
  flex-direction: column;
}

.highlightCode {
  white-space: pre
}

.code img {
  display: inline-block;
  width: var(--size)
}

.inlineCode {
  display: inline-flex;
  padding: 3px 5px;
  font-size: 14px;
}

@media (max-width: 800px) {
  .code,
  .highlightCode {
    max-width: calc(100vw - 80px);
  }
}
