.main {
  width: 100vw;
  min-height: 100vh;
  background: var(--g14);
  display: grid;
  grid-template-rows: min-content auto;
}

.header {
  width: 100%;
  display: grid;
  grid-template-columns: 32px auto;
  padding: 15px;
  margin-bottom: 20px;
  background: #111;
}

.headerLogo,
.headerDescription {
  margin-left: 15px;
  align-self: center;
}

.headerLogo,
.header img {
  --size: 32px;
  width: var(--size);
  height: var(--size);
}

.headerDescription {
  font-weight: 700;
  padding-left: 10px;
  font-size: 24px;
}

.bigWrapper {
  width: 100vw;
  display: grid;
  grid-template-columns: 42ch auto;
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
  font-size: 16px;
}

.formWrapper {
  display: flex;
  flex-direction: column;
  /* background: teal; */
}

.formInput {
  font-family: 'Fira Mono', monospace;

  border: none;
  outline: none;
  font-size: 18px;
  text-transform: uppercase;
  border-radius: 5px;
  margin: 5px;
  color: var(--gc);
}

.formInput[type=text] {
  background: var(--code-background);
  padding: 0 1ch;
}

.formInput[type=button] {
  background: var(--code-background);
  padding: 0 1ch;
}
