.main {
  width: 100vw;
  min-height: 100vh;
  background: var(--g14);
  display: grid;
  grid-template-rows: min-content auto;
}

.header {
  width: 100%;
  display: grid;
  grid-template-columns: 32px auto;
  padding: 15px;
  margin-bottom: 20px;
  background: #111;
}

.headerLogo,
.headerDescription {
  margin-left: 15px;
  align-self: center;
}

.headerLogo,
.header img {
  --size: 32px;
  width: var(--size);
  height: var(--size);
}

.headerDescription {
  font-weight: 700;
  padding-left: 10px;
  font-size: 24px;
}

.bigWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
}

.card {
  position: relative;
  display: flex;
  align-items: center;
  max-width: 400px;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  background: #1f1f1f;
}

.card:hover {
  background: var(--g2c);
}

.cardTitle {
  color: var(--accent);
  margin-left: 10px;
  font-size: 18px;
}

.cardDescription {
  padding: 10px;
  padding-right: 0;
  color: var(--gc);
}

.card img {
  margin-right: 10px;
}

.previewWrapper {
  width: 100vmin;
  height: 100%;
  padding: 20px;
}

.preview,
.lChessBtn,
.dChessBtn {
  --cs: 10px;
  --cb: #1f1f1f;
  --cw: #373737;
  background-image: 
    repeating-linear-gradient(
      45deg, 
      var(--cw) 25%, 
      transparent 25%, 
      transparent 75%, 
      var(--cw) 75%,
      var(--cw)
    ), 
    repeating-linear-gradient( 
      45deg, 
      var(--cw) 25%, 
      var(--cb) 25%, 
      var(--cb) 75%, 
      var(--cw) 75%,
      var(--cw)
    );

  background-position: 
    0 0, 
    var(--cs) var(--cs);
  
  background-size: 
    calc(2 * var(--cs)) 
    calc(2 * var(--cs));
}

.preview {
  display: flex;
  justify-content: center;
  align-items: center;
  

  /* background: var(--cb);
  color: #fff; */

  width: 100%;
  height: 100%;
  border-radius: 5px;

  /* animation: chess 3s ease-in-out 0s infinite normal; */
}

.chessWrapper {
  display: flex;
  margin-bottom: 2px;
  /* background-color: tomato; */
}

.lChessBtn,
.dChessBtn,
.wChessBtn,
.bChessBtn,
.cChessBtn .mask,
.cChessBtn input[type=color] {
  border: 2px solid var(--g2c);
  margin: 0 5px;
  width: 30px;
  height: 30px;
  border-radius: 30px;
}

.lChessBtn {
  --cb: #acacac;
  --cw: #d6d6d6;
}

.bChessBtn {
  background: #000
}

.wChessBtn {
  background: #fff
}

.mask {
  position: absolute;
  background: conic-gradient(
    red,
    purple,
    indigo,
    blue,
    cyan,
    turquoise,
    lime,
    yellow,
    gold,
    orange,
    orangered,
    red
  );
}
